/*
  Grid yup but offcourse ;)
--------------------------------------*/
.grid-1 {width: 60px;}
.grid-2 {width: 140px;}
.grid-3 {width: 220px;}
.grid-4 {width: 300px;}
.grid-5 {width: 380px;}
.grid-6 {width: 460px;}
.grid-7 {width: 540px;}
.grid-8 {width: 620px;}
.grid-9 {width: 700px;}
.grid-10{width: 780px;}
.grid-11{width: 860px;}
.grid-12{width: 940px;}

.grid-post-1 {padding-left: 70px;}

.grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-10,.grid-11,.grid-12{
	display: inline; float:left;margin:0 10px;
	min-height: 1%;
	min-height: 1px;
}

.grid-full{width: 960px;}
.grid-first{margin-left: 0;}
.grid-last{margin-right: 0;}
