/* =======================================
  file: interface.css
  styles for drupal interface elements
* ------------------------------------- */

/* 
@group My Group 
tabs
------------------------------------- */

.tabs ul li {display:inline;;}
.tabs ul li a{background-color: #ddd; color:#999; }
.tabs ul li.active a{background-color: #fff; color:#000;}

#tabs{clear:both; width:95%;}
ul.primary{background:#666; border:0px; margin:0px; padding:5px 0 8px 0; clear:both; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
  ul.primary li{margin:0px; font-size:10px; display:inline;}
  ul.primary li a{background:#555; color:#999; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin:3px; padding:4px; border:0;}
  ul.primary li.active a {color:#ccc;background:#999; border:0px; font-weight:bold;}
  ul.primary li a:hover{background:#333; }

  ul.primary li a span{padding:0 0 0 20px; background:transparent url(../images/screwdriver.png) no-repeat; }
  ul.primary li a.view span{background:transparent url(../images/newspaper.png) no-repeat;}
  ul.primary li a.edit span{background:transparent url(../images/edit.png) no-repeat;}
  ul.primary li a.track span{background:transparent url(../images/wrench.png) no-repeat;}
  ul.primary li a.dev-load span{background:transparent url(../images/terminal.png) no-repeat;}
  ul.primary li a.dev-render span{background:transparent url(../images/terminal.png) no-repeat;}
  ul.primary li a.twitter span{background:transparent url(../images/balloon_twitter.png) no-repeat;}

ul.secondary{background:#888; border:0px; margin:1px 0 0 20px; padding:5px 0 8px 0; clear:both; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px;}
  ul.secondary li{margin:0px; font-size:10px; display:inline;}
  ul.secondary li a{background:#aaa; color:#666; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin:3px; padding:4px; border:0;}
  ul.secondary li.active a {background:#ccc; border:0px; font-weight:bold;}
  ul.secondary li a:hover{background:#333; }
/* @end */
/*
  comment
------------------------------------- */
#comments{clear:both; padding:10px 0 0 0;}
div.indented{margin:0 0 0 30px;}
div.comment {width: auto; margin:0 10px 10px 0; font-size:11px; line-height:16px;}
  div.comment .comment-inner {border: 1px solid #dedede; background:#fff;}
  div.comment .comment-inner h3{margin: 10px 10px 5px 20px;}
  div.comment .comment-inner h3.new a{color:#900;}
  div.comment .comment-content{margin: 0 20px;}
  div.comment .comment-content h1{font-size:18px; margin:10px 0; border-bottom: 1px solid #dedede;}
  div.comment .comment-content h2{font-size:18px; margin:10px 0; border-bottom: 1px solid #dedede;}
  div.comment .comment-content h3{font-size:18px; margin:10px 0; border-bottom: 1px solid #dedede;}
  div.comment .comment-content h4{font-size:18px; margin:10px 0; border-bottom: 1px solid #dedede;}

  div.comment ul.links{text-align:right; margin: 5px 10px}
  div.comment ul.links li{display:inline;}
 	div.comment ul.links a{padding:2px 4px;}
 	div.comment ul.links a:hover{	-moz-border-radius: 3px; -webkit-border-radius: 3px; }
  div.comment .meta {position:relative; margin:-1px 0 0 10px; padding:10px 0 0 30px ;background: transparent  url(../images/tip.gif) no-repeat 35px 0; font-style:normal;}
  div.comment .meta .author{color:#999;}
  div.comment .meta .date{color:#999;}

/*
  node
------------------------------------- */
.node{clear:both;}
.node img{float:left; padding:8px; margin:5px 10px 0 0; background:#fff; border: 1px solid #ccc; border-bottom-color: #bbb; border-right-color: #bbb;}
.node a {text-decoration: underline;}

/*
  pager
------------------------------------- */
ul.pager{margin:10px auto; width:auto; clear:both;}
  ul.pager li{display:inline; margin:0 5px;}
  ul.pager li.pager-item,
  ul.pager li.pager-current{}
  ul.pager li a{padding:5px; background:#94AEC6; color:#fff; -moz-border-radius: 9px; -webkit-border-radius: 9px;}
  ul.pager li a:hover{color:#f0f; background:#f0f;}

/* FORM
------------------------------------- */
/* 
  FORM
------------------------------------- */
/*baseform*/
/*
form{position:relative; float:left;}
form div{position:relative}  
form input{line-height:0; margin:0; padding:0;}
*/
input.form-text{border: 1px solid #bbb; background:#fff; padding:3px 5px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
input.form-text:focus, textarea:focus{background:#FFD; border: 1px solid #FC6; }
textarea{border: 1px solid #bbb; background:#fff; -moz-border-radius: 3px; -webkit-border-radius: 3px;}

/*
fieldsets & legend hell
----------------------------*/
legend{margin:0;  display:block; padding:0;}
fieldset{border: none;}
fieldset div{margin-left:10px;}
fieldset fieldset{padding-left:1em; background:#eef;}
html.js fieldset.collapsible, 
fieldset
{
  margin:0; 
  padding:25px 0 10px 0px; /*padding top needs to be at the same height as the legend span*/
  background:#eee;display:block; position: relative; top:0px; left:0;
}

html.js fieldset.collapsible legend a span,
html.js fieldset.collapsible legend span
{
  height:25px;
  color:#fff;
  display:block; 
  position: absolute;
  left:0;
  top:0px\9;/*ie7 & ie8 8 ugly hack thanx to FF FF goes nuts of theres a top:0; so to correct that we have to add a selector for ie8*/
  font-weight:normal; text-transform: uppercase;
  font-size:10px; line-height:20px;
  background-color:#999;
}
html.js fieldset.collapsible legend span{width:98%; border: 1px solid #87A1C6;background-color:#d6ebff; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
html.js fieldset.collapsible legend a span{background:#d6ebff url(../icons/navigation-090-frame.png) no-repeat 3px 3px; padding:0 0 0 20px;}
html.js fieldset.collapsed legend a span{display:block; background:#d6ebff url(../icons/navigation-270.png) no-repeat 3px 3px; cursor: pointer; padding:0 0 0 20px;}
html.js fieldset.collapsed legend span{padding:0 0 0 10px;}
html.js fieldset.collapsed{padding:5px 0; height:0; margin:0 0 20px 0;}
html.js fieldset.collapsed legend a span:hover,
html.js fieldset.collapsible legend a span:hover
{
  color:#999;
  background-color:#666;
}

html.js fieldset.collapsible .fieldset-wrapper {overflow: hidden;}
html.js input.form-autocomplete{background-position: 100% 7px;}
html.js input.throbbing{background-position:100% -18px;}

.vertical-tabs,
.vertical-tabs-panes fieldset
{
  background:#fff;
}

/*submits*/
.form-button{margin:0 15px; text-align:right; float:left;}
.form-submit{font-size:9px; line-height:9px; height:23px;  background:#87A1C6; border: 1px solid #7E96B9; color:#fff; font-weight:bold; padding:4px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
  .form-submit:hover{background:#687C99; cursor: pointer; color:#fff;}

.edit-delete .form-submit{background:#ddd; border: 1px solid #bbb; color:#999; display:inline;}
.edit-delete .form-submit:hover{background:#bbb; cursor: pointer; color:#fff;}
#panels-ipe-edit-control-form .form-button{margin:0; text-align:right; float:left;}

/* table
------------------------------------- */
table, #tracker table{width:99%}
tr.odd {background-color:#d6ebff; border-bottom:1px solid #fff; padding:0;}
tr.even {background-color:transparent; border-top:1px solid #ccc; padding:0px;}
tbody {border-top: 1px solid #eef;}
tbody th {border-bottom: 1px solid #eef;}
thead th {border-bottom: 1px solid #eef;  padding: 0 0 0 0;}
td{padding:5px;}
td.active{background:#DFEEEE;}


 /*forum*/
#forum td.icon{width:24px; height:24px; padding:5px;}
  .icon-forum-default {background:transparent url(../icons/mail.png) no-repeat left top; width:16px; height:16px;}
#forum td.title{}
#forum td.replies{width:50px;} 
#forum td.created{}
#forum td.last-reply{width:50px;}

/*
  block
------------------------------------- */
#pagebody .block{margin:0 0 10px 0; padding:5px 0; overflow:hidden;}
  .block h3{font-size:15px;}
  .block .form-button{text-align:right; margin: 0 10px;}

/*
  login block
------------------------------------- */
#user-login-form {text-align:left;}
  #user-login-form .form-item {margin:0 0 10px 0;}
  #user-login-form input.form-text{width:200px;}
  #user-login-form .form-button{float:right;}
  #user-login-form .form-button .form-submit{width:150px;}

/*
 search block
------------------------------------- */
#search-block-form{}
form{position:relative; float:left;}
form input{line-height:0; margin:0; padding:0;}
form div{position:relative}  
  #search-block-form label{display:inline; position:absolute; top:6px; left:10px; height:14px; overflow:hidden; cursor: text;}
  #search-block-form label, 
  #search-block-form input.form-text
  {
    font-size:9px;color:#111; background:#fff; font-weight:bold; width:120px; 
  }
  #search-block-form .form-item{float:left; margin:0; padding:0;}
  #search-block-form .form-button{float:left; margin:0; }
  #search-block-form .form-text{width:125px;  height:16px; padding:5px 0 0 8px; border: 1px solid #ddd; border-right:0;  
    -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; 
    -moz-border-radius-bottomleft : 3px; -webkit-border-bottom-left-radius: 3px;
  }
  #search-block-form .form-submit{font-size:9px; line-height:9px; height:23px; border: 1px solid #ddd; background:#ccc; color:#333; border-left:0;  moz-border-radius-topleft: 0px; -webkit-border-top-left-radius: 0px; -moz-border-radius-bottomleft :0px; -webkit-border-bottom-left-radius: 0px;}
    #search-block-form .form-submit:hover{background:#ddd; color:#111;}
    
/*
  login
------------------------------------- */
#user-login-form label{display:inline; position:absolute; top:6px; left:10px; height:14px; overflow:hidden; cursor: text;}
#user-login-form label, 
#user-login-form input.form-text
{
  font-size:9px;color:#111; background:#fff; font-weight:bold; width:170px; 
}
#user-login-form .form-text{width:180px;  height:16px; padding:5px 0 0 8px; border: 1px solid #ddd; border-right:0;  
  -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; 
  -moz-border-radius-bottomleft : 3px; -webkit-border-bottom-left-radius: 3px;
}
#user-login-form .form-submit{font-size:9px; line-height:9px; height:23px; border: 1px solid #ddd; background:#ccc; color:#333; border-left:0;  moz-border-radius-topleft: 0px; -webkit-border-top-left-radius: 0px; -moz-border-radius-bottomleft :0px; -webkit-border-bottom-left-radius: 0px;}
  #user-login-form .form-submit:hover{background:#ddd; color:#111;}
    