/* =====================================
  layout style.css
  ------------------------------------
  basic layouts of the elements
/*--------------------------------------*/
body{} /*background:transparent url(../images/bg.png) repeat-x fixed center bottom;*/
#container{} /*width:960px;margin: 0 auto;*/
  #container-inner{}


/*header*/
#header{padding-top:10px; margin-bottom:5px;}
  #site-name{}
  #header-inner{}
   	#header-block {}
  #path{ margin-bottom:5px;}

/*page*/
#page{margin-top:10px; min-height:500px; height:auto !important; height:500px;}
#page-inner{}
  #pageheader{}

  #pagebody{}
    #pagebody-inner{}

    #sitebar-left{} 

    #content{}
      #content-inner{}

    #sitebar-right{} 

  #pagefooter{}
    #pagefooter-inner{}
    #pagefooter .footer{width:220px;}

/* 
  Slider
--------------------------------------*/
#slider{position: absolute; width: 200px; right:220px; z-index: 25; margin:-1px 0 0 0 ;}
#slider-inner{width: 200px; position: relative; top: 1px; height: 0px; margin-left: auto; margin-right: auto; z-index: 10; overflow: hidden; color:#eee; }
#slider-background {height: 100%; width: 200px; position: absolute; z-index: -1;}
#hide_button{display:none;}
.slider-button{width:190px; padding:5px;	border-bottom: 1px solid #666; border-top: 1px solid #666;}
.slider-button a{color:#fff; font-weight:bold; height:32px;}	
.slider-button:hover{cursor: pointer}
#slider-background,.slider-button {background: #888; filter:alpha(opacity=90); -moz-opacity:0.90; -khtml-opacity: 0.90; opacity: 0.90;}


/*
  footer
--------------------------------------*/
html, body, #container {margin:0; padding:0; height: 100%;}
body > #container {height: auto; min-height: 100%;}
#footer {position: relative;
  margin-top: -10px; /* negative value of footer height */
  height: 30px;
  clear:both;
  }
#container{padding:0 0 30px 0;}
#container{background:transparent url(../images/bg.png) repeat-x center bottom;}


#pageheader, #sitebar-left,#sitebar-right, #content,   #pagefooter .footer{
  display: inline; float:left;margin:0 10px;
  min-height: 1%;
  min-height: 1px;
}



/*
  Grid yup but offcourse ;)
--------------------------------------*/
.grid-1 {width: 60px;}
.grid-2 {width: 140px;}
.grid-3 {width: 220px;}
.grid-4 {width: 300px;}
.grid-5 {width: 380px;}
.grid-6 {width: 460px;}
.grid-7 {width: 540px;}
.grid-8 {width: 620px;}
.grid-9 {width: 700px;}
.grid-10{width: 780px;}
.grid-11{width: 860px;}
.grid-12{width: 940px;}

.grid-post-1 {margin-right: 70px;}
.grid-pre-1 {padding-left: 70px;} 

.grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-10,.grid-11,.grid-12{
	display: inline; float:left;margin:0 10px;
	min-height: 1%;
	min-height: 1px;
}

.grid-full{width: 960px;}
.grid-12-center{width: 940px;}
.grid-first{margin-left: 0;}
.grid-last{margin-right: 0;}

.center{margin: 0 auto;}
.left{float:left;}
.right{float:right;}