/* =====================================
  site specific styles
  sets all the local design elements 

  blue: #013C4C
  brown dark: #BA5B22
  browm light: #DB913C
  sand dark: #F0B650
  sand light : #FAD46B
/*--------------------------------------*/
body {font-size:13px; line-height:18px;color: #111; background: #eee url(../images/bg.png) repeat-x center top;}
body, caption, th, td, input, textarea, select, option, legend, fieldset {font-family: Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6{}
h1 {font-size: 40px; line-height:50px; padding:0 0 10px 0;}
h2 {font-size: 30px; line-height:40px; padding:0 0 10px 0;}
h3 {font-size: 25px; line-height:30px;}
h4 {font-size: 16px; font-weight: bold;}
h5 {font-size: 13px; font-weight: bold;}
h6 {font-size: 12px; font-weight: bold;}
p {margin-bottom: 10px;}
hr{display: block;position: relative;padding: 0;margin: 8px auto;height: 0;max-height: 0;width: 100%;clear: both;border: none;border-top: 1px solid #AAA;border-bottom: 1px solid #FFF;font-size: 1px;line-height: 0}

/*-- links --*/
a, a:link, a:visited, a:active {text-decoration: none; color: #666;}
  a:hover, a:focus {color: #eee;}
  
h2 a:link, h2 a:link, h2 a:visited,  h2 a:active {color: #000; text-transform: capitalize;}
  h2 a:hover, h2 a:focus { color: #666; background-color: #bbb;}

h3 a:link, h3 a:link, h3 a:visited,  h2 a:active {color: #000; text-transform: capitalize;}
  h3 a:hover, h3 a:focus { color: #666; background-color: #bbb;}

li a:link, li a:link, li a:visited,  li a:active {color: #116CC0;}
  li a:hover, li a:focus {color: #7aaefc}
  
.menu a:link, .menu a:link, .menu a:visited,  .menu a:active {color: #666;}
  .menu a:hover, .menu a:focus {color: #aaa; background: #fff;}
  
#site-name, #site-name a{font-family: "Helvetica Neue", Helvetica, sans-serif; color: #333; font-size:80px; padding:0 0 10px 0; line-height:60px; font-weight: bold; text-transform: capitalize; text-shadow: #fff 1px 1px 2px;}
  #site-name a:hover{background:transparent; color:#666;}
#header{border-bottom: 1px solid #bbb;}
#path{border-bottom: 1px solid #bdbdbd;}
#page{padding:10px 0 0 0;}
#path, #path a{color:#333;}


#pagebody .block{margin:0 0 10px 0; padding:5px 0; overflow:hidden;}
.block{border-top: 1px solid #BA5B22; border-bottom: 1px solid #DB913C;}
.block h3{color:#013C4C; border-bottom: 1px solid #F0B650; font-size:15px; line-height:20px; margin:0 0 5px 0; text-transform: capitalize;}


/* -- node --*/
.node-teaser{border-top: 1px solid #bbb; padding:5px 0;}
.node-teaser .meta{border-bottom: 1px solid #bbb; margin:5px 0;}
.node, .node-teaser{}
.node h2{border-bottom: 1px solid #bbb; }
.node img{float:left; padding:8px; margin:5px 10px 0 0; background:#fff; border: 1px solid #ccc; border-bottom-color: #bbb; border-right-color: #bbb;}
.node a {text-decoration: underline;}
.node .content a{}
.node .content a:hover{}


/*-- form --*/
textarea{font-size:13px;}

/*-- code --*/
code, tt, pre {  padding: 1px;  background-color: #f6f6f2;
  font-family: "Bitstream Vera Sans Mono", Monaco, "Lucida Console", monospace;
  font-size: 11px;}

.codeblock {margin:5px;}


/* FORM
------------------------------------- */
.form-file{float:left; padding:0 10px 0 0;}
.node-form .form-text{height:20px; font-size:16px; width:80%;}
