/******************************
 Global CSS for ALL menu types
******************************/
ul.nice-menu-down a{font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;  color:#eee; text-decoration: none;}
ul.nice-menu-down, ul.nice-menu-down ul {list-style: none; padding: 0; margin: 0;}
ul.nice-menu-down a:hover{background:#ddd;}
ul.nice-menu-down li.active-trail > a{font-weight:bold;}

ul.nice-menu-down {float: left; border: 0; z-index:20;}
/*lvl 1*/
ul.nice-menu-down > li {width:auto;  float: left; margin: 0; padding-left: 10px; background-image: none;}
ul.nice-menu-down > li > a{width:auto; text-transform: uppercase;}

/*lvl 2*/
  ul.nice-menu-down ul {left: 0; border-top: 0px solid #fff; }
  ul.nice-menu-down ul > li {clear: both; border-left: 0px solid #fff; border-right: 0px solid #fff; border-bottom: 1px solid #3399cc;}
  ul.nice-menu-down ul > li {}
  ul.nice-menu-down ul > li > a{height:50px; width:190px; padding:5px;}
  /*lvl 3*/
  ul.nice-menu-down li > ul > li {width:200px; background:#fff; height:30px; border-bottom: 1px solid #999;}

  ul.nice-menu-down li > ul > li > ul{border-top: 1px solid #ccc; left: 200px;  top: -1px;}
  ul.nice-menu-down li > ul > li > ul > li{background:#fff; height:30px; border-bottom: 1px solid #999;}

/*arrows*/
ul.nice-menu-down li.menuparent{}
ul.nice-menu-down li.menuparent:hover,ul.nice-menu-down li.over{background: rgba(0,0,0,0.5 ) url(../icons/navigation-270.png) right center no-repeat; }
ul.nice-menu-down li li.menuparent{background: #fff url(../icons/navigation.png) right center no-repeat; }
ul.nice-menu-down li li.menuparent:hover,ul.nice-menu-down li li.over{ background: #ccc url(../icons/navigation-270.png) right center no-repeat; }

/*icons*/
/*
ul.nice-menu > li > a {}
ul.nice-menu > li > a > span{background:transparent url(../icons/water.png) no-repeat left top; padding-left:20px;}
ul.nice-menu > li > a > span.icon-node-58{background:transparent url(../icons/ticket.png) no-repeat left top}
ul.nice-menu > li > a > span.icon-sessions{background:transparent url(../icons/sofa.png) no-repeat left top}
ul.nice-menu > li > a > span.icon-node-20169{background:transparent url(../icons/sofa.png) no-repeat left top}
ul.nice-menu > li > a > span.icon-node-3593{background:transparent url(../icons/rocket-fly.png) no-repeat left top}    
ul.nice-menu > li > a > span.icon-forum{background:transparent url(../icons/balloon-smiley.png) no-repeat left top}
ul.nice-menu > li > a > span.icon-scholarships{background:transparent url(../icons/quill.png) no-repeat left top}
ul.nice-menu > li > a > span.icon-swag{background:transparent url(../icons/t-shirt.png) no-repeat left top}
ul.nice-menu > li > a > span.icon-attendees {background:transparent url(../icons/t-shirt.png) no-repeat left top}
ul.nice-menu > li > a > span.icon-sponsors{background:transparent url(../icons/cup.png) no-repeat left top}
ul.nice-menu > li > a > span.icon-search {background:transparent url(../icons/magnifier.png) no-repeat left top}
*/