/* ==============================================================================
  reset.css
  resets the browser & specific drupal annoiances ;)
* -------------------------------------------------------------------------- */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight: inherit;font-style: inherit;font-size: 100%; font-family: inherit; vertical-align: baseline;}
table{border-collapse: collapse; border-spacing:0}
table, td, th {vertical-align:top;text-align:left;font-weight:normal;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}
a {outline: none;}
b,strong{font-weight: bold;}
em{font-style: italic;}

/* -----clearfix -----*/
.clearfix:after {content: "."; display: block; height: 0;  clear: both; visibility: hidden;}
.clearfix {display:inline-block;} /*ie7 dosnt validate - but fixes the prob ...*/
.clearfix {display:block;} /*opera & safari */
/*ie6 and no IE mac*/
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */

.clear {clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;}
.left{float:left; display:inline; min-height: 1%; background-color: transparent;} 
.right{float:right; display:inline; min-height: 1%; background-color: transparent;} 
.clean{overflow:hidden; display:block;}

:focus{outline:0}

/* ==============================================================================
  Drupal6 resets ;)
* -------------------------------------------------------------------------- */
/*
tables
* ------------------------------------- */
table, #tracker table{width:99%}
tr.odd {background-color:#efefef; border-bottom:1px solid #ddd; padding:0;}
tr.even {background-color:transparent; border-bottom:1px solid #eee; padding:0;}
tbody {border-top: 0px solid #ddd;}
tbody th {border-bottom: 0px solid #ddd;}
thead th {border-bottom: 0px solid #ddd;  padding: 0;}
td{padding:5px;}
td.active{background:#DFEEEE;}

/*
List
* ------------------------------------- */
ul,
li, 
ul li, 
.item-list ul
.item-list ul li, 
.block ul, 
.block ul li, 
ul.menu,
ul.menu li{
  list-style: none; margin:0; padding:0;
}

li.leaf,
li.expanded,
li.collapsed{
  list-style: none outside none;
}

.content ol, .content ul {margin: 0 0 0 10px;}
.content ul li {list-style: square inside}
ul.links li{padding:0 5px 0 0;}

.breadcrumb {margin:0;}
ul.breadcrumb li{display:inline; margin:0 0 0 10px;}

/*messages*/
#drupal-messages .messages{padding:10px; margin:10px 0px 10px; color:#036; background:#bdf; border:1px solid #ace;}
#drupal-messages .warning{color:#840; background:#fe6;border-color:#ed5;}
#drupal-messages .error {color:#fff; background:#e63; border-color:#d52;}
#drupal-messages .status{color:#360; background:#cf8; border-color:#be7;}
.form-item input.error, .form-item textarea.error, .form-item select.error{
  border: 1px solid #900;
}

div.messages{font-size:12px; line-height:18px; padding:10px; margin:10px; color:#036; background:#bdf; border:1px solid #ace;}
div.warning{color:#840; background:#fe6;border-color:#ed5;}
div.error {color:white; background:#e63; border-color:#d52;}
div.status{color:#360; background:#cf8; border-color:#be7;}
div.messages a,div.messages  a:link,div.messages  a:visited, div.messages a:active {color:#fff; text-decoration: underline;}
div.messages a:hover,div.messages  a:focus {}

/* 
Views
* ------------------------------------- */
div.view div.views-admin-links{ background:#fff;}
div.view div.views-admin-links ul li{float:left; margin:0 10px 0 0;}


/* 
  forms
* ------------------------------------- */
.form-item {margin:5px 0;}

/* 
block admin
* ------------------------------------- */
body.page-admin table.sticky-header{background:#666;}
body.page-admin table.sticky-header th{font-weight:bold; color:#eee}
body.page-admin td.region{color:#000; background:#999; text-align:center;}
body.page-admin #block-admin-display-form td.block{color:#000; font-weight:bold;  }
body.page-admin .block-region{background-color:#606; text-align:center; color:#f0f;}

.draggable a.tabledrag-handle {
  cursor:move;
  float:left;
  height:1.7em;
  margin:-0.4em 0 -0.4em -0.5em;
  padding:0.42em 1.5em 0.42em 0.5em;
  text-decoration:none;
}

.section-admin tr.even, .section-admin tr.odd {
  background-color:#EEEEEE;
  border-bottom:1px solid #CCCCCC;
  padding:0.1em 0.6em;
}

.draggable a:link, .draggable a:visited {color:#900; margin:0 10px;}
.draggable a:hover{color: #900;}
